@import "./normalize.css";

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

::selection {
  background: var(--color-primary);
  color: #fff;
}

a {
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  background: rgb(2,4,28);
  background: linear-gradient(90deg, rgba(2,4,28,1) 26%, rgba(27,12,17,1) 100%, rgba(0,212,255,1) 100%);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.1;
}

p {
  margin-top: 0;
  /* color: var(--color-body); */
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

.link-arrow {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-accent);
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 10px;
  transition: margin .3s;
}

.link-arrow:hover::after {
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Button */

.btn {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  border-radius: var(--border-radius);
  padding: 1.5rem 2rem;
  border: 0;
  outline: 0;
}

.btn a {
  color: #fff;
}

/* Grid */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1X2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Blocks */

.block {
  padding: 6rem 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block__header {
  text-align: center;
  padding: 4rem;
}

.block__heading {
  margin-top: 0;
  margin-bottom: 3rem;
}

.block--dark h1,
.block--dark h2,
.block--dark h3 {
  color: #fff;
}

.block--dark {
  color: #cbd7db;
}

.block__image {
  max-width: 500px;
  border-radius: 7px;
}

/* Badge */

.badge {
  background: rgb(2,4,28);
  background: linear-gradient(90deg, rgba(2,4,28,1) 26%, rgba(27,12,17,1) 100%, rgba(0,212,255,1) 100%);
  border-radius: 2px solid var(--color-secondary);
  border-radius: 5px;
  font-size: 2rem;
  width: 12rem;
  height: 12rem;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.badge-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.badge__bold {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

.badge--primary {
  color: var(--color-primary);
}

.badge--accent {
  color: var(--color-accent);
}

.badge--secondary {
  color: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .badge-group {
    gap: 4rem;
  }
}

/* Icon */

.icon {
  width: 40px;
  height: 40px;
}

.icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon-container--accent {
  background: var(--color-accent);
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--secondary {
  fill: var(--color-secondary);
}

.icon--accent {
  fill: var(--color-accent);
}

.icon--white {
  fill: #fff;
}

/* Feature */

.feature {
  gap: 4rem 10rem;
  margin: 12rem 0;
}

.feature__text {
  text-transform: uppercase;
}

.text--primary {
  color: var(--color-primary);
}

.text--secondary {
  color: var(--color-secondary);
}

.text--accent {
  color: var(--color-accent);
}

.feature__title {
  display: block;
}

.feature:first-of-type {
  margin: 6rem;
}

.features__heading {
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Block Domain */

.block-domain .block-domain__body {
  margin: 4rem 0;
}


/* Hero */

.hero .block__header {
  text-align: left;
}

/* Collapsibles */


.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100%;
  opacity: 1;
}

/* Navigation */

.list {
  list-style: none;
  padding-left: 0;
}

.nav {
  background: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item>a {
  color: #d2d0db;
  transition: color .3s;
}

.nav__item>a:hover {
  color: #fff;
}

.nav__togler {
  opacity: 1;
}

.nav__togler:hover {
  opacity: 0.5;
  transition: box-shadow .3s;
  cursor: pointer;
}

.nav__brand {
  transform: translateY(5px);
}

.collapsible--expanded .nav__togler {
  opacity: 1;
  box-shadow: 0 0 0 3PX #ccc;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .nav__togler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
    max-height: 100%;
    opacity: 1;
    font-size: 1.6rem;
  }

  .nav__item {
    border: 0;
  }
}
