<section class="block">
  <div class="container">
    <header class="block__header">
      <h2>Sectionn</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, saepe!
      </p>
      <img class="block__image" src="images/ceo.jpeg" alt="" />
    </header>
  </div>
</section>

<section class="block block--dark">
  <div class="container">
    <header class="block__header">
      <h2>Sectionn</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae, saepe!
      </p>
    </header>
  </div>
</section>
