<section class="block container">
    <div class="container">
        <header class="block__header">
            <h2 class="block__heading">Heading</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptatibus!
            </p>
        
        </header>
    </div>
 </section>
 <section class="block block--dark block--skewed-left">
    <div class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, voluptatibus!
        </p>
 </section>