<div class="callout callout--primary">
    <div class="grid grid--1X2">
        <div class="callout__content">
            <h2 class="callout__heading">Get Ready to Started</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Labore, earum? Blanditiis, dolore asperiores aliquam numquam,
                  cumque quo deserunt odio totam error omnis itaque aspernatur
                  alias amet beatae et aperiam necessitatibus!
            </p>
        </div>
        <a href="#" class="btn btn--secodary btn--stretched">Get started!</a>
    </div>
  </div>