<div class="card card--secondary">
  <div class="card__image">
    <img src="/images/htmlcss.webp" alt="the HTML & CSS image" />
  </div>
  <header class="card__header">
    <h3 class="plan__name">Ultimate HTML & CSS: Part 1</h3>
    <span class="plan__description">
      Master the fundamentals of web development with HTML5 &amp; CSS3</span
    >
    <span class="plan__price">&#8358;12,000</span>
    <span class="plan__billing-cycle">4 weaks</span>
    <span class="badge badge--secondary badge--small">10% off</span>
    <button class="btn btn--outline btn--block">Enroll Now</button>
  </header>
</div>
