<section class="block block--dark container block-domain">
  <header class="block__header">
    <span class="text--accent">Hello,</span>
    <h2 class="block__heading">I'm Ishaq Mohammed.</h2>
    <p>
      Are you feeling stuck or overwhelmed in your coding journey? Don't worry,
      I've got your back! Together, we'll work to level up your skills, increase
      your earning potential, and build a brighter future.
    </p>
    <img class="block__image" src="images/ceo.jpeg" alt="" />
    <div class="block-domain__body">
      <div class="badge">
        <p class="badge__bold badge--primary">500+</p>
        <p>student taught</p>
      </div>
      <div class="badge">
        <p class="badge__bold badge--accent">4+</p>
        <p>Years of experience</p>
      </div>
      <div class="badge">
        <p class="badge__bold badge--primary">15</p>
        <p>Coding Courses</p>
      </div>
    </div>
  </header>
</section>
