<footer class="block block--dark nav footer">
  <p>&copy;Tech With Ishaq</p>
  <span class="fa-icon">
    <a href="#"><i class="fa-brands fa-facebook" style="color: #efefef"></i></a>
    <a href="#"><i class="fa-brands fa-twitter" style="color: #e7ebf4"></i></a>
    <a href="#"
      ><i class="fa-brands fa-instagram" style="color: #f5f7fa"></i
    ></a>
  </span>
  <ul class="list footer__list">
    <li class="nav__item"><a href="#">Home</a></li>
    <li class="nav__item"><a href="#">Courses</a></li>
  </ul>
</footer>
