<section class="block block--dark hero">
  <div class="container grid grid--1X2">
    <header class="block__header">
      <h1>
        Become thesoftware engineer
        <span class="text--secondary">software engineer </span>that companies
        <span class="text--accent">love to hire</span>
      </h1>
      <p>All the coding courses you need to excelin one place.</p>
      <button class="btn">
        <a href="#" class="link-arrow">Learn More</a>
      </button>
    </header>
    <img src="images/banner.png" alt="" />
  </div>
</section>
