<section class="block block--dark container block-domain">
  <header class="block__header" data-aos="fade-up">
    <span class="text--secondary">Hello,</span>
    <h2 class="block__heading">I'm Sadiq Danjuma.</h2>
    <p>
      Are you feeling stuck or overwhelmed in your travel journey? Don't worry,
      we a've got your back! Together, we'll work to level up your skills,
      increase your earning potential, and build a brighter future.
    </p>
    <img class="block__image" src="../images/ishaq.jpg" alt="" />
    <div class="badge-group block-domain__body">
      <div class="badge badge--primary">
        <p class="badge__bold">20,000+</p>
        <p>Customers</p>
      </div>
      <div class="badge badge--accent">
        <p class="badge__bold">20+</p>
        <p>Years of experience</p>
      </div>
    </div>
  </header>
</section>
