<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </div>
  <div class="media__body">
    <p class="text--primary">Easy Start & Managed Updates</p>
    <h2 class="media__title">Easy Start & Managed Updates</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
      molestiae dolorem expedita temporibus optio nobis architecto sit deleniti
      esse, accusantium soluta at provident accusamus, adipisci, sequi sapiente
      ut doloribus quis.
    </p>
  </div>
</div>
