<section class="block block--dark block--skewed-right">
    <header class="block__header">
        <h2>User-Friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1X2">
        <img src="images/ipad.png" alt="">
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                        </svg>
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#computer"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy Start & Managed Updated</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Odit aut nulla voluptatibus, doloribus assumenda, cumque obcaecati
                            optio quibusdam repudiandae totam saepe facilis neque non autem a rem excepturi!
                            Dignissimos, expedita.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        </svg>
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, GIT & WP-LC </h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Odit aut nulla voluptatibus, doloribus assumenda, cumque obcaecati
                            optio quibusdam repudiandae totam saepe facilis neque non autem a rem excepturi!
                            Dignissimos, expedita.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                        </svg>
                        <svg class="icon icon--primary">
                            <use xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic Catching & More</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                            Odit aut nulla voluptatibus, doloribus assumenda, cumque obcaecati
                            optio quibusdam repudiandae totam saepe facilis neque non autem a rem excepturi!
                            Dignissimos, expedita.
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>