<section class="block">
    <header class="block__header">
        <h2>What our Customer Are Saying</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia illum\
            quia quos ullam accusamus, numquam porro veritatis
            eaque quaerat quibusdam repellat non facere beatae culpa incidunt est praesentium blanditiis voluptas?
        </p>
    </header>
    <div class="container">
        <div class="card testimonial">
            <grid class="grid grid--1X2">
                <div class="testimonial__image">
                    <img src="images/ceo.jpeg" alt="A happy, smiling Customer">
                    <span class="icon-container icon-container--accent">
                        </svg><svg class="icon icon--white">
                            <use xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quote__text">
                        Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Optio ex veritatis eos obcaecati, id, sapiente magnam cum quis at,
                        exercitationem eius quas ipsam. Tempora perspiciatis beatae dolor! Exercitationem, dolor fuga?
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                </svg>
                                <svg class="icon icon--primary quote__line">
                                    <use xlink:href="images/sprite.svg#line"></use>
                                </svg>
                            </div>
                            <div class="media__body">
                                <h3 class="media__title quote__author">Ishaq Mohammed</h3>
                                <p class="quote__organisation">Tech With Ishaq Company</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
        </div>
    </div>
</section>